#### Questions  
https://data.nashville.gov/resource/fuaa-r5cm.json
1. Make an API request that returns the months where "fire" was searched in 2016. Which month had the most searches?  


2. Make an API request that returns all the times a query was run more than 100 times in a month. How many times did this occur?  


3. Make another API request that returns all the times "codes" was searched more than 100 times in a month. How many times did this occur?  


4. Make an API request that returns the entire Top 500 Monthly Searches dataset. Make a chart that shows the number of times "maps" was searched in a month across the entire time frame.

In [1]:
import requests
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
endpoint = 'https://data.nashville.gov/resource/fuaa-r5cm.json'

In [3]:
response = requests.get(endpoint)

In [4]:
response

In [18]:
res = response.json()

In [14]:
response = requests.get(endpoint, params = params)

In [7]:
params = {
    'year':'2016',
    'query_text': 'fire',
    'query_count': 'query_count'

}
response = requests.get(endpoint, params = params)

In [19]:
response

In [21]:
res

[{'month_name': 'January',
  'year': '2016',
  'query_count': '19',
  'query_text': 'fire'},
 {'month_name': 'February',
  'year': '2016',
  'query_count': '35',
  'query_text': 'fire'},
 {'month_name': 'March',
  'year': '2016',
  'query_count': '32',
  'query_text': 'fire'},
 {'month_name': 'April',
  'year': '2016',
  'query_count': '26',
  'query_text': 'fire'},
 {'month_name': 'May',
  'year': '2016',
  'query_count': '24',
  'query_text': 'fire'},
 {'month_name': 'June',
  'year': '2016',
  'query_count': '31',
  'query_text': 'fire'},
 {'month_name': 'July',
  'year': '2016',
  'query_count': '24',
  'query_text': 'fire'},
 {'month_name': 'August',
  'year': '2016',
  'query_count': '47',
  'query_text': 'fire'},
 {'month_name': 'September',
  'year': '2016',
  'query_count': '36',
  'query_text': 'fire'},
 {'month_name': 'October',
  'year': '2016',
  'query_count': '38',
  'query_text': 'fire'},
 {'month_name': 'November',
  'year': '2016',
  'query_count': '32',
  'query_text': 'fire'},
 {'month_name': 'December',
  'year': '2016',
  'query_count': '38',
  'query_text': 'fire'}]

In [23]:
df_fire = pd.DataFrame(res)
df_fire.loc[df_table['query_text'] == 'fire']

   month_name  year query_count query_text
0     January  2016          19       fire
1    February  2016          35       fire
2       March  2016          32       fire
3       April  2016          26       fire
4         May  2016          24       fire
5        June  2016          31       fire
6        July  2016          24       fire
7      August  2016          47       fire
8   September  2016          36       fire
9     October  2016          38       fire
10   November  2016          32       fire
11   December  2016          38       fire

In [26]:
monthly_query_sum = df_fire.groupby('month_name')['query_count'].sum()

max_query_month = monthly_query_sum.idxmax()


print(max_query_month)

August

Q1 Answer: AUGUST

Q2 2. Make an API request that returns all the times a query was run more than 100 times in a month. How many times did this occur?

ANSWER: 1793

In [42]:

endpoint = 'https://data.nashville.gov/resource/fuaa-r5cm.json'

response = requests.get(endpoint)

data = response.json()

# Create df
q2 = pd.DataFrame(data)

#convert query count to numeric 
q2['query_count'] = pd.to_numeric(q2['query_count'], errors='coerce')



# filter for greater than 100 queries
more100queries = q2[q2['query_count'] > 100]

#
count_more100queries = more100queries['query_count'].sum()

print(count_more100queries)

1793

Q3
3. Make another API request that returns all the times "codes" was searched more than 100 times in a month. How many times did this occur?

In [56]:


endpointQ3 = 'https://data.nashville.gov/resource/fuaa-r5cm.json'


responseQ3 = requests.get(endpoint)

dataQ3 = response.json()

# Create a DataFrame from the data
dfQ3 = pd.DataFrame(data)

# Convert 'query_count' to numeric, errors are coerced to NaN
dfQ3['query_count'] = pd.to_numeric(dfQ3['query_count'], errors='coerce')

# Filter for rows where 'query_text' is 'codes' and 'query_count' is greater than 100
df_codes_query = dfQ3[(dfQ3['query_text'] == 'codes') & (dfQ3['query_count'] > 100)]

# Count the number of such occurrences
count_codes_query = df_codes_query.shape[0]



print(count_codes_query)

# getting zero as a response but I don't trust it.

0